<section>
    <div class="block--flex block--pad">
      <h3 class="due-head"><%= title %></h3>
      <p class="overdue-dones--info">
        <%= todos.completed(true).count %> / <%= todos.count %>
      </p>
    </div>
    <ul>
      <% todos.each do |todo| %>

        <li class="ul__li--todo block--flex">

          <%= form_with(url: "/todos/#{todo.id}", action: "patch") do |form| %>
            <%= form.check_box :completed ,
                              onclick: "this.form.submit()",
                              class: "li__input--big",
                              checked: todo.completed %>
          <% end %>

          <% pclass = todo.completed ? "done" : "" %>
          <p class="<%= pclass %>" >

            <%= todo.todo_text %>

          </p>

          <% if show_date %>
            <p class="overdue-dones--info li--date" >

               <%= todo.due_date.to_s(:short) %>

            </p>
          <% end %>

          <a href="#" class="a--hide a__img--trashcan">
            <%= form_with(url: "/todos/#{todo.id}", method: "delete") do |form| %>
              <%= image_submit_tag "trashcan.png",
                          alt: "Delete",
                          onclick: "this.form.submit()" %>
            <% end %>
          </a>
        </li>
      <% end %>
    </ul>
  </section>
