<main class="body__main--root">
  <h1 class="main__h1--app-head">My Todo-list</h1>
  <%= form_with(url: "/todos", method: "post") do |form| %>
    <%= form.text_field :todo_text,
            class: "input--todo_text",
            placeholder: "What's next?",
            required: true %>
    <%= form.date_field :due_date,
            class: "input--due_date",
            required: true %>
    <%= form.submit :Add,
            class: "btn--pleasant" %>
  <% end %>
  <%= render partial: "todos-section", locals: {
    title: "Overdue",
    todos: @current_user.todos.overdue.completed(false),
    show_date: true
  } %>
  <%= render partial: "todos-section", locals: {
    title: "Due Today",
    todos: @current_user.todos.due_today,
    show_date: false
  } %>
  <%= render partial: "todos-section", locals: {
    title: "Due Later",
    todos: @current_user.todos.due_later,
    show_date: true
  } %>
</main>
