<!DOCTYPE html>
<html>
  <head>
    <title>Todo Manager App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if @current_user %>
      <h1 align="left" class="body__main--root main__h1--app-head welcome_user">
          Welcome <%= @current_user.first_name %>!
          <%= link_to "Sign out!", destroy_session_path, method: "delete", class: "signout" %>
      </h1>
    <% end %>

    <% if flash[:error] %>
      <p class="body__section--root error"> <%= flash[:error] %> </p>
    <% end %>
    <%= yield %>
  </body>
</html>
